.info {
  display: flex;
  font-size: 16px;
  justify-content: space-around;
  padding-top: 10px;
  color: #a7a8b7;
  align-items: center;
}

button {
  background: none;
  color: #a7a8b7;
  border: none;

  &:hover {
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
}

.button:hover {
  color: black;
}

.statusItems {
  display: none;
}

@media (min-width: 600px) {
  .statusItems {
    display: block;
  }
}