@import 'reset-css';

.App {
  padding: 70px;
  display: flex;
  justify-content: center;
  height: 100vh;
  color: white;
  background-size: 100%;
}

.light {
  background-image: url('./Images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-color: #fafafa;
}

.dark {
  background-image: url('./Images/bg-desktop-dark.jpg');
  background-repeat: no-repeat;
  background-color: rgb(28, 5, 5);
}

.test {

}
